*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: azure;
    height: 50px;
}

.navlinks{
    display: flex;
    gap: 28px;
}
.navbar h1{
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 5px;
        height: auto;
    }
    .navbar h1{
        font-size: 25px;
    }
    .navlinks {
        gap: 20px;
        flex-wrap: wrap;
    }
    .about p{
        padding: 0px 25px;
    }
    h2{
        font-size: 24px;
    }
}


.navlinks a:hover {
    color: #43cea2;
}
.navlinks a{
    font-size: larger;
    text-decoration: none;
    color: azure;
}
section {
    scroll-margin-top: 60px;
}

.hero{
    padding-top: 50px;
    background: linear-gradient(to right, #43cea2, #185a9d);
    min-height: 100vh;
    display: flex;
    gap: 18px;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    
}

.hero-text{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: larger;
}

.hero img{
    height: 210px; 
    width: 192px;
    border-radius: 50%;
    border: solid azure 3px;
    filter: brightness(113%);
}
@media(max-width:768px){
    .hero {
        flex-direction: column;
        align-items: center; 
    }
    .hero-text{
        text-align: center;
    }
    .hero img {
        width: 180px; 
        height: 200px;
    }
}

.about{
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
    font-size: larger;
}
.about p{
    margin-top:12px ;
}

.education{
    max-width: 900px;
    margin: 80px auto;
    max-width: 900px;
    text-align: center;
    font-size: larger;
}
.school,.college{
    margin-top: 12px;
}
.school p,.college p{
    margin-top: 2px;
}
.skills{
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
    font-size: larger;
}
.skill-list{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
}
@media (max-width:600px){
    .skill-list {
       display: flex;
       flex-direction: column;
       align-items: center;     /* center vertically */
       gap: 25px; 
    }
    .skills img{
        height: 60px;
    }
}

.skills img{
    height: 80px;
}
.projects{
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
}
.project-list{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
    
}

.project-list div{
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 155px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background-color: rgb(94, 218, 218);
    color: azure;
}
@media (max-width: 768px) {
    .project-list div {
        width: 60%;
        max-width: 300px;
        margin-bottom: 10px;
    }
}

.contact{
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
}
.contact h2{
    margin-bottom: 10px;
}
.contact a{
    font-size: large;
    text-decoration: none;
    color:rgb(84, 144, 255);
}
footer{
    text-align: center;
    background-color: rgb(141, 187, 218);
    font-size: large;
}
@media (max-width:600px){
    footer{
       font-size:medium;
    }
}
