*{
    margin: 0;
    padding: 0;
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: azure;
    height: 50px;
}
.navlinks{
    display: flex;
    gap: 28px;
}
.navbar h1{
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navlinks a:hover {
    color: #43cea2;
}
.navlinks a{
    font-size: larger;
    text-decoration: none;
    color: azure;
}
section {
    scroll-margin-top: 60px;
}

.hero{
    padding-top: 50px;
    background: linear-gradient(to right, #43cea2, #185a9d);
    height: 594px;
    display: flex;
    gap: 13px;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.hero-text{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: larger;
}
.hero img{
    border-radius: 50%;
    border: solid azure 3px;
}
.about{
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
    font-size: larger;
}
.about p{
    margin-top:12px ;
}
.education{
    max-width: 900px;
    margin: 80px auto;
    max-width: 900px;
    text-align: center;
    font-size: larger;
}
.school,.college{
    margin-top: 12px;
}
.school p,.college p{
    margin-top: 2px;
}
.skills{
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
    font-size: larger;
}
.skill-list{
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content:center;
}
.skills img{
    height: 80px;
}
.projects{
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
}
.project-list{
    margin-top: 20px;
    display: flex;
    gap: 8px;
    justify-content: space-around;
    
}
.project-list div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 15px;
    background-color: rgb(94, 218, 218);
    color: azure;
}
.contact{
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
}
.contact h2{
    margin-bottom: 10px;
}
.contact a{
    font-size: large;
    text-decoration: none;
    color:rgb(84, 144, 255);
}
footer{
    text-align: center;
    background-color: rgb(141, 187, 218);
    height: 26px;
    font-size: large;
}

